.cardDesign {
    width: 320px;
    margin-bottom: 50px;
    border-radius: 20px;
    transition: 0.5s;
}
.cardDesign img{
    border-radius: 20px;
    padding: 5px;
}

.cardDesign:hover {
    transform: scale(1.1);
}

.bg{
    /* background-image: url('/image/anik.jpg'); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}